# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Build do PyInstaller
build/
dist/

# Arquivos de compilação
*.spec.bak

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# JetBrains
.idea/

# Windows
Thumbs.db
Desktop.ini

# Arquivos temporários
*.tmp
*.bak

# Distribuição
installer/*.tmp


# Instaladores
installer/*.exe

# Executáveis
*.exe

# Build do Inno Setup
Output/

# PyInstaller
*.spec.bak